.signIN{
    color: darkblue;
}
.bg-img{
    background-image: url("Space.jpg");
    background-size: cover;
}
#bold_head{
    color: black;
}
.head{
    color: black;
}
#text-{
    color: black;
}
#textInput1{
    color: black;
}
#textInput2{
    color: black;
}
#demo{
    color: black;
}